@import "{{ site.theme }}";

.inner img {
  float: left;
  width: 100px;
  height: 100px;
}

.inner h1 {
  position: relative;
  top: 18px;
  left: 10px;
}

header {
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: 'Architects Daughter', 'Helvetica Neue', Helvetica, Arial, serif;
  background: #2e7bcf;
  border-bottom: solid 1px #275da1;
//   display: none;
}

.over header{
  padding-top: 0px;
  padding-bottom: 0px;
  font-family: 'Architects Daughter', 'Helvetica Neue', Helvetica, Arial, serif;
}

.over1 body{
  font-family: 'Helvetica Neue', Helvetica, Arial, serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.5;
}

aside {
  display: none;
}
